<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <form>
      <h4>Introduzca sus datos de registro</h4>
      <label>Correo electrónico</label>
      <input type="mail" class="form-control" id = "inputEmail" autofocus>
      <label>Contraseña</label>
      <input type="password" class="form-control" id="inputPassword">
      <hr>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
  <div class="col col-md"></div>
</div>
